<%- include('header') %>
<h2>Candidatos do Sistema</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Empresa ID</th>
    </tr>
  </thead>
  <tbody>
    <% candidatos.forEach(function(candidato) { %>
      <tr>
        <td><%= candidato.id %></td>
        <td><%= candidato.nome %></td>
        <td><%= candidato.email %></td>
        <td><%= candidato.empresaId %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('footer') %> 