<%- include('header') %>
<h2>Empresas do Sistema</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% empresas.forEach(function(empresa) { %>
      <tr>
        <td><%= empresa.id %></td>
        <td><%= empresa.nome %></td>
        <td><%= empresa.email %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('footer') %> 